/* Generell styling */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: normal;
  font-variant: normal;
  background-color: #F1F2EF;
  min-height: 100vh;
}

h1 {
  margin-top: 1em;
  text-align: center;
}

h3 {
  padding: 2em 0 .5em 1.5em
}

h4 {
  text-align: center;
}

h5 {
  font-weight: 400;
}

p {
  padding: 1em 1.5em;
  text-align: justify;
}

img {
  width: 100%;
  display: block;
}


/* Navbar styling -----------------------------------------------------*/

.navigation {
  list-style: none;
  margin: 0;
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: #FFF;
  text-align: center;
  flex-grow: 1
}

.navigation li {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navigation li:hover {
  background-color: #0f0f0f;
}

.toggleDisplayImg {
  position: absolute;
  top: 162px;
  z-index: 1;
  background-color: #141414;
  width: 50%;
  padding: .4em;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #aaa;
  cursor: pointer;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  font-weight: 100;
}


/* Ensures menu fits on multiple device sizes */

@media (orientation: landscape) {
  .navigation {
    flex-direction: row;
    justify-content: center;
    position: relative;
  }
  .navigation li {
    padding: .5em 1.5em;
    width: auto;
  }
  .navigation li:first-of-type {
    position: absolute;
    top: 0;
    left: 0
  }
  .navigation li:first-of-type:before {
    content: '';
    width: 53px;
    height: 53px;
    background-image: url("../images/logo_small1.png");
    background-size: 100%;
  }
  .toggleDisplayImg {
    top: 54px
  }
}


/* End Navbar */


/* Footer styling ---------------------------------------------------------*/

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: 100;
  color: #fff;
  background-color: #000;
  height: 40px;
}

footer p {
  padding: 0 1em
}


/* End footer styling */


/* Flexbox ------------------------------------------ */

.column {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

@media (orientation: landscape), (min-width: 768px) {
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .fill-width {
    min-width: 100%
  }
  .flex-item p {
    padding: .5em
  }
}

@media (orientation: landscape) {
  .wrap {
    max-width: 40%;
  }
  .fill-width p {
    margin: 0 auto;
    max-width: 90%
  }
}

@media (min-width: 768px) {
  .flex-container {
    max-width: 75%;
    margin: 2.5% auto;
  }
  .wrap {
    max-width: 30%;
  }
}


/* End Flexbox */


/* Styling for hoved-content ------------------------------------------ */

.descriptionPlaceholder {
  background-color: #232323;
  position: relative;
  height: 30vh;
  max-width: 100vw;
  cursor: pointer;
  overflow: hidden;
}

.descriptionPlaceholder img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

@media (orientation: landscape), (min-width: 768px) {
  .descriptionPlaceholder {
    height: 40vh
  }
  .descriptionPlaceholder img {
    bottom: -20%
  }
}

.slide {
  margin: 1.5em
}

#slide {
  cursor: pointer;
  border: 15px solid #ddd;
}

.map {
  border: 15px solid #ddd;
  min-width: 50vw;
  height: 70vh;
  max-height: 450px;
  background: #f4f4f4;
  margin-bottom: 5vw
}


/* Toggle hero img */

.hidden {
  display: none
}
