/* Google font importering */
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans+Condensed" />

/* Generell styling */
*{
	padding: 0px;
	margin: 0px;
}
body{
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-variant: normal;
	background-color: #F1F2EF;
	margin: 0px;
	padding: 0px;
	max-width: 100%;
}
h3{
	text-align: center;
}
h4{
	font-weight: 400;
	padding: 0px;
	margin: 0px;
}


/* Navbar styling ------------------------------------*/
.navigation {
    list-style: none;
    margin: 0;

    background: #333;

    display: flex;
    justify-content: center;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: #FFF;
}

.navigation a:hover {
    background-color: #607D8B;
}

/* End Navbar */


/* Ensures menu fits on multiple device sizes */

@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }
}

@media all and (max-width: 600px) {
    .navigation {
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
    }

    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }


    .navigation li:last-of-type a {
        border-bottom: none;
    }
}



/* Styling for hoved-content ------------------------------------------ */
.toggleDisplayImg{
	height: 35px;
	line-height: 35px;
	background-color: #232323;
	text-align: center;
	color: #F7FAFF;
	cursor: pointer;
}
#hideDescription{
	height: 0px;
	visibility: hidden;

}
#showDescription{
	visibility: visible;
	background-color: #EFF0F1;
}

.descriptionPlaceholder{
	display: flex-inline;
}
.descriptionPlaceholder img{
	width: 1920px;
	max-width: 100%;
}

.mainPageContent{
	width: 1200px;
	max-width: 100%;
}
.flex-container {
    display: flex;
	flex-wrap: wrap;
	align-content: center;
	margin: 10px auto;
}
.flex-item {
	margin-right: auto;
	position: relative;
}
.columnx{
	align-self: top;
	position: relative;
	width: 370px;
	margin: 0px 15px 0px 15px;
}
.fill_width{
	width: 100%;
	text-align: center;
}
